:root {
    --hairline: rgb(199, 199, 199);
    --nav-height: 54px;
    --block-color: rgb(176, 143, 190);
    --available-color:rgb(225, 197, 236);
}

.calendar {
    height: 100%;
    display: flex;
    margin : 16px auto;
    flex-direction: column;
    max-width: 920px;
}
.cal__nav {
    margin: 0;
    display: flex;
    flex: none;
    height: 32px;
    padding-bottom: 16px;
    width: 100%;
}
    .prev, .next {
        position: relative;
        margin-left: 16px;
    }
    button:hover {
        background-color: azure;

    }
    .cal__title {
        position: relative;
        display: flex;
        
        justify-content: center;
        font-size: 28px;
    }
.calendar__wrap {
    
    width: 100%;
    border-left : var(--hairline) 1px solid;
    border-top:  var(--hairline) 1px solid;
}
.calendar__header {
    margin: 0 ; 
    display: flex;
    flex: none;
    align-items: stretch;
    height: 25px;
}
    .calendar__header > div {
        text-align: center;
        flex: 1 1 0%;
        border-bottom: var(--hairline) 1px solid;
        border-right:  var(--hairline) 1px solid;
    }
.calendar__contents {
    margin:0 ;
    height: calc(100% - 25px);
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
}
    .weekRow { 
        position: relative;
        border-bottom: var(--hairline) 1px solid;
        display: flex;
        height: 120px;
        align-items: stretch;
        flex-direction: row;
    }
    .dayBox {
        text-align: center;
        flex: 1 1 0%;
        border-right:  var(--hairline) 1px solid;
    }
    .dayBox > .date {
        color: grey;
    }
    .dayBox.available > .date{
        color: black;
    }
    .dayBox.available:hover {
        border: 4px solid var(--available-color);
    }
    .dayBox.boxActive {
        background-color: var(--block-color);
    }


    .weekRow > .date {
        position: absolute;
        display: flex;
        z-index: 3;
        width: 100%;
    }
    .weekRow > .todo {
        margin-top: 35px;
        display: flex;
        position: relative;
        font-size: 24px;
        width: 100%;
    }


    .date > div {
        text-align: center;
        line-height: 35px;
        border-right: var(--hairline) 1px solid;
        flex: 1 1 0%;

    }
    .inactive {
        font:darkseagreen;
    }
    .calendar__details {
        margin: 24px 0;
        height: 120px;
        border: 1px solid var(--hairline);
    }
    .calendar__details .details__title {
        border-bottom: 1px dashed var(--hairline);
    }
    .calendar__popup {
        display: none;
        background-color: var(--hairline);
        align-items: flex-start;
        flex-direction: column;
        position: absolute;
        top: 0;
    }

    .todo > div.admin:hover {
        background-color : var(--available-color);
        border-radius: 10%;
    }
@media screen and (max-width: 833px) {

}