.login-section {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 64px - 116px);
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.login-wrap {
    width: 550px;
    margin: 0 auto;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 42px;
}    
h1 {
    text-align: center;
    margin-bottom: 50px;
}

form {
    padding-right: 34px;
    margin-bottom: 24px;
    font-size: 16px;
}
input, button { border-radius: 4px;}
input {
    line-height: 46px;
    padding: 0 0 0 30px;
    width: 100%;
    margin: 0 0 12px;
    border: 2px solid #d0d0d0;
    background-color: #e7e7e7;
}

button {
    height:52px;
    width: 550px;
    margin: 32px 0; 
    background-color: #5e5a59;
    border: 1px solid #423F3E; 
    font-size:18px; font-weight: bold;
    color: white;
}