:root {
    --hairline: rgb(199, 199, 199);
    --nav-height: 54px;
    --block-color: rgb(176, 143, 190);
    --available-color:rgb(225, 197, 236);
}

.book__section{
    padding-top: 3vh;
    height: 120vh;
}
.notice {
    height: 5vh;
}
.schedule {
    height: 10vh;
}
.bookWrap {
    height: calc(85vh - 54px - 3vh);
    max-width: 920px;
    margin: 0 auto;
}

.book__calendar {
    height: auto;
    margin: 0 24px;
}

.calendar {
    height: 100%;
    display: flex;
    flex-direction: column;
    
}
.cal__nav {
    margin: 0;
    display: flex;
    flex: none;
    height: 32px;
    padding-bottom: 16px;
    width: 100%;
}
    .todayBtn, .nextBtn {
        position: relative;
        margin-left: 16px;
    }
    button:hover {
        background-color: azure;

    }
    .cal__title {
        position: relative;
        display: flex;
        
        justify-content: center;
        font-size: 28px;
    }
.calendar__wrap {
    border-left : var(--hairline) 1px solid;
    border-top:  var(--hairline) 1px solid;
    height: 60vh;
}
.calendar__header {
    margin: 0 ; 
    display: flex;
    flex: none;
    align-items: stretch;
    height: 10%;
}
    .calendar__header > div {
        text-align:center;
        flex: 1 1 0%;
        font-weight: bold;
        border-bottom: var(--hairline) 1px solid;
        border-right:  var(--hairline) 1px solid;
    }
.calendar__contents {
    margin:0 ;
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    height: 90%;
}
    .weekRow { 
        position: relative;
        border-bottom: var(--hairline) 1px solid;
        display: flex;
        height: 30%;
        /*align-items: stretch;*/
        flex-direction: row;
    }
    .dayBox {
        text-align: center;
        flex: 1 1 0%;
        border-right:  var(--hairline) 1px solid;
        /*box-sizing: border-box;*/
        width: 14%;
        color:darkgrey;
    }


    .weekRow > .date {
        position: absolute;
        display: flex;
        z-index: 3;
        width: 100%;
    }
    .weekRow > .todo {
        margin-top: 35px;
        display: flex;
        position: relative;
        font-size: 24px;
        width: 100%;
    }


    .date > div {
        text-align: center;
        line-height: 35px;
        border-right: var(--hairline) 1px solid;
        flex: 1 1 0%;

    }
    .weekRow .available {
        color:black;
    }
    .weekRow .available:hover {
        border: var(--block-color) 3px solid;
    }
    .boxActive {
        background-color : var(--block-color); 
    }

.timeSelector__controller{
    overflow-x: auto;
    overflow-y: hidden;
    height: 80px;
    padding-left: 20px;
    position: relative;
}
    .timeSelector__controller ul {
        padding: 0 12px;
        height: 100%;
        white-space: nowrap;
        position: relative;
        overflow: hidden;
        scroll-behavior:smooth;
    }
    .timeSelector__controller li {
        position: relative;
        display: inline-block;
        outline:0;
        margin:0; padding:0;
    }
    .time_txt {
        display: block;
        position: relative;
        padding-top: 20px;
        margin-bottom: 10px;
        margin-left: -17px;
    }
    .time_box {
        display: block;
        background-color: var(--hairline);
        border-right: 1px solid white;
        width: 42px;
        height:30px; 
    }
    .time_box.available {
        background-color: var(--available-color);
    }

    .time_box.available:hover {
        background-color: var(--block-color);
    }
    .time_box.timeActive {
        background-color : var(--block-color); 
    }

    .timeMoveBtn {
        border-radius: 20%;
        top: 50%;
        position: absolute;
        z-index: 1;
        width: 32px;
        display: block;
        visibility: hidden;
    }
    .timeMoveBtn.left {
        left: 15px;
    }
    .timeMoveBtn.right {
        right: 15px;
    }
    .timeSelector__controller:hover .timeMoveBtn{
        visibility:visible;
    }




.booking__popup{
    background-color: beige;
}
    .frm__nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: rgb(192, 192, 168);
    
    }
    #closeBtn {
        color: black;
    }
    #popup1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }